body {
    background-color: black;
}

#data {
    font-size: larger;
    background-color: brown;
}

#title{
    color: greenyellow;
    font-size: 50px;
}

#titleText{
    color: turquoise;
    font-size: large;
}

button {
    background-color: whitesmoke;
    font-size: 30px;
}

table {
    background-color: #f5f5f5;
}
