body {
    background-color: aqua;
}

#data {
    font-size: larger;
    background-color: brown;
}

#title{
    color: greenyellow;
    font-size: 50px;
}

button {
    background-color: cornflowerblue;
}
